#main_container {
    margin: 0 auto; 
    width:90%;
    background-color: rgb(194, 191, 191);
}

#main_section {
    width:99%;
    background-color: lightgray;
    margin:0 auto;
    border:3px solid black
}

header,footer {
    background-color:rgb(97, 1, 105);
    color:white; 
    font-size:32px;
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
    padding-bottom:1.5%;
    width:100%;
}

#top_section {
    background-color: #f5f5dc;
}

fieldset {
    display:flex;
    flex-direction: row;
}

.input_field {
    display:flex;
    flex-direction:column;

    width:25%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    border:1px dotted green;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.label {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}

label {
    border:1px dotted red; 
    text-align:right;
    width:30%;
    height:100%;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
}
label.normal_size{
    max-height:2em;
    min-height:1em;

}

#short_description {
    width:70%;
    padding-bottom:5%
}

#textArr {
    display:flex;
    flex-direction: column;
}

.top_input {
    border:1px solid black;
    max-height:2em;
    min-height:1.5em;
    width:40%;
}

legend {
    font-size:large;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    color:rgb(187, 5, 5)
}

.buttons1 {
    color:white;
    font-size:20px;
    width:10%;
    background-color: blue;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:26%;
    border-radius:0%;
}

#bottom_section {
    background-color:rgb(37, 161, 238);
    width:100%;
    margin-top:10%;
    margin-bottom:2%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.buttons2 {
    color:white;
    font-size:18px;
    width:18%;
    background-color:blue;
    margin-top:1%;
    margin-bottom:1%;
    border-radius:0%;
}

button {
    cursor:pointer;
}

#query {
    width:69.5%;
    margin:0 auto;
}

#queryText {
    width:100%;
    height:2em;
    margin-bottom:2%
}
button:disabled{
    opacity:40%;
}
:disabled{
    opacity:40%;
    cursor:not-allowed;
}
.svg_container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:5vh;
    width:5vw;

}


.wrong_or_right{
    width:80%;
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
    
}
#textArr_and_svg{
    width:100%;
    display:flex;
    flex-direction: row;
}

#generatedTable {
    margin-bottom: 1.5em;
}

#generatedTable * {
    width: 95%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

#generatedTable th {
    background-color: #054a1d;
    color: #f5f5f5;
    flex-shrink: 1;
}

#generatedTable table {
    border: 1px dotted red;
    table-layout: fixed;
}

#generatedTable td {
    overflow: hidden;
    border: 1px solid #ababab;
}